.cls_1 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    max-width: 70px;
}
.main{
    background-color: #AAA6BD;
}
.about_us_header{
    background-image: url('../../../public/house-1477041_1920.jpg');
    padding-top: 70px;
    height: 35vh;
    background-position: center;
    h1{
        background-color: rgba(0, 0, 0, 0.532);
        padding: 40px;
    }
}

