@tailwind base;
@tailwind components;
@tailwind utilities;
@import './scss/base/colors.scss';
@import './scss/components/intro_home/moving_titles.scss';

// Make images for the following ratios

// 4:3 aspect ratio: 800 x 600 px
// 4:5 aspect ratio: 1080 x 1350px
// 16:9 aspect ratio: 1920 x 1080 px
// 21:9 ?

// 3:4 aspect ratio: 600 x 800px
// 5:4 aspect ratio:  1350 x 1080px
// 9:16 aspect ratio: 1080 x 1920px
// 9:21 ?

body{
    -ms-overflow-style: none;
      /* IE and Edge */
    scrollbar-width: none;
      /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.backgrounFirst{
    position:fixed!important;
    width: calc(100vw + 100px);
    height: calc(100vh + 100px);
    background-image: url('../../public/house-1477041_1920.jpg');
    transform: scale(1.1);
    background-size: auto 105vh;
    background-position: calc(50% + 50px) 10%;
    background-repeat: no-repeat;
    filter: brightness(0.6) blur(0px);
    z-index: -1;
}
.backgrounSecond {
  opacity: 0;
  position: fixed !important;
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  top: -50px;
  left: -50px;
  // background-image: url('../../public/warehouse-5635000.jpg');
  background-size: cover;
    background-position: 46%;
    background-repeat: no-repeat;
  filter: brightness(0.6) blur(0px);
  z-index: -1;
}
.backgrounThird {
  opacity: 0;
  position: fixed !important;
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  top: -50px;
  left: -50px;
  // background-image: url('../../public/bright-1851267.jpg');
  background-size: cover;
    background-position: 46%;
    background-repeat: no-repeat;
  filter: brightness(0.6) blur(0px);
  z-index: -1;
}
.backgrounFourth{
  opacity: 0;
  position: fixed !important;
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  top: -50px;
  left: -50px;
  // background-image: url('../../public/drop-of-water-578897.jpg');
  background-size: cover;
    background-position: 46%;
    background-repeat: no-repeat;
  filter: brightness(0.6) blur(0px);
  z-index: -1;
}
.backgrounFiveth {
  opacity: 0;
  position: fixed !important;
  width: calc(100vw + 100px);
  height: calc(100vh + 100px);
  top: -50px;
  left: -50px;
  // background-image: url('../../public/pipes-4161383.jpg');
  background-size: cover;
    background-position: 46%;
    background-repeat: no-repeat;
  filter: brightness(0.6) blur(0px);
  z-index: -1;
}

.svgContainer{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #svg5 {

    }
}

.navBar {
  backdrop_filter: blur(5px);
  z-index: 9999;

  a {
    transition: 0.5s;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    &.active{
      border-color: white;
    }
    &:hover,
    &:active,
    &:focus {border-color: white;
    }
  }
  #menu-icon{
    width: 40px;
    height: 40px;
  }
}
.navBarDropDown {
  // backdrop-filter: blur(5px);
  z-index: 9900;
  padding-top: 50px;

  .background_blur{
    filter: brightness(1) blur(0px);
    backdrop-filter: blur(0px);
  }
  a {
    transition: 0.5s;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;

    &.active {
      border-color: white;
    }

    &:hover,
    &:active,
    &:focus {
      border-color: white;
    }
  }

  #menu-icon {
    width: 40px;
    height: 40px;
  }
}



.footer{background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 91%);
  z-index: 9999;
  .link {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    transform-origin: 0%;transition: 0.5s;
    svg {
      transition: 0.5s;
        height: 35px;
        width: 35px;
        fill: white;
        scale: 1;
      }
    &:hover,
    &:active,
    &:focus {
      scale: 1.1;
      text-decoration-color: white;
      font-weight: 600;
      svg{
        scale: 1.2;
      }
    }
  }
}

svg{
  border: 2px solid white;
  border-radius: 50%;
  padding: 0px 15px 14px 15px;
  overflow: visible;
}

.blur_background{
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.484);
}


@media only screen and (max-width: 1024px) {
  .navBar{
    backdrop-filter: blur(0px);
  }
}
