@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 19px;
}

::-webkit-scrollbar {
  /* width: 0px; */
}
::-webkit-scrollbar-track {
  background: rgba(73, 58, 58, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(61, 45, 45, 0.5);
  border-radius: 20px;
  border: transparent;
}

.VerticalParallax {
  height: 100vh;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25vw;
}

.VerticalParallaxMotion {
  position: absolute;
  min-height: 100%;
  right: 0;
}
.animated-background {
  background-size: 100%;
  background-color: red !important;
  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.StickyContainer {
  height: 500vh;
  border: 1px dashed deeppink;
}
.SomeDomContent {
  background: #f2f2f2;
  position: sticky;
  top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding: 2rem;
  border: 1px solid turquoise;
}
/* Debug styles */
.Debug {
  outline: 1px dashed rgba(255, 255, 255, 0.33);
}
.Debug:after {
  content: "StickyScrollScene";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes roundedChangeenable {
  0% {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
  }
  100% {
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.75rem;
  }
}
@keyframes roundedChangedisable {
  0% {
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.75rem;
  }
  100% {
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
  }
}

.animate-rounded-change-enable {
  animation: roundedChangeenable 1s ease-in-out forwards;
}
.animate-rounded-change-disable {
  animation: roundedChangedisable 1s ease-in-out forwards;
}
