@import './scss/base/colors.scss';

.mainContainer{
    width: 100%;
    min-height: auto;
}

.thisIsNot {
    .titlesMovingContainer{
    }
}

.mainAnimation{
    overflow: hidden;
    width: 100%;
    height: auto; 
}


