@import './scss/base/colors.scss';

.mainContainer{
    width: 100%;
    min-height: auto;
}

.thisIsNot {
    .titlesMovingContainer{
    }
}

.backdrop_filter{
    backdrop-filter: blur(15px);
}

.mainAnimation{
    overflow: hidden;
    width: 100%;
    height: auto; 
}

.cls_1 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    max-width: 70px;
}

.titlesContainer {
    margin-top: 25px;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 90px);

        .header1 {
            font-size: 55px;
            line-height: 50px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header2 {
            font-size: 45px;
            line-height: 40px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header3 {
            font-size: 35px;
            line-height: 35px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header4 {
            font-size: 30px;
            line-height: 30px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header5 {
            font-size: 25px;
            line-height: 25px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header6 {
            font-size: 18px;
            line-height: 18px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

}

// 678
@media only screen and (min-width: 578px) {
    .titlesContainer {
        margin-top: 60px;
        overflow: hidden;
        width: 100%;
        height: calc(100vh - 90px);

        .header1 {
            font-size: 55px;
            line-height: 45px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header2 {
            font-size: 45px;
            line-height: 40px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header3 {
            font-size: 35px;
            line-height: 30px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header4 {
            font-size: 30px;
            line-height: 30px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header5 {
            font-size: 25px;
            line-height: 25px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
        .header6 {
            font-size: 18px;
            line-height: 18px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

    }
}

@media only screen and (min-width: 640px) {
    .titlesContainer {
        margin-top: 65px;
        overflow: visible;
        width: 100%;
        height: calc(100vh - 90px);

        .header1 {
            font-size: 60px;
            line-height: 55px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header2 {
            font-size: 55px;
            line-height: 50px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header3 {
            font-size: 50px;
            line-height: 50px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header4 {
            font-size: 45px;
            line-height: 45px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header5 {
            font-size: 32px;
            line-height: 32px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header6 {
            font-size: 22px;
            line-height: 22px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

    }
}

@media only screen and (min-width: 768px) {
    .titlesContainer {
        margin-top: 65px;
        overflow: visible;
        width: 100%;
        height: calc(100vh - 90px);

        .header1 {
            font-size: 95px;
            line-height: 75px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header2 {
            font-size: 75px;
            line-height: 55px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header3 {
            font-size: 57.5px;
            line-height: 50px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header4 {
            font-size: 47.5px;
            line-height: 32.5px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header5 {
            font-size: 33px;
            line-height: 30px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header6 {
            font-size: 23px;
            line-height: 20px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

    }
}

@media only screen and (min-width: 1024px) {
    .titlesContainer {
        margin-top: 90px;
        overflow: visible;
        width: 100%;
        height: calc(100vh - 90px);

        .header1 {
            font-size: 75px;
            line-height: 75px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header2 {
            font-size: 75px;
            line-height: 65px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header3 {
            font-size: 60px;
            line-height: 50px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header4 {
            font-size: 50px;
            line-height: 45px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header5 {
            font-size: 35px;
            line-height: 32.5px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header6 {
            font-size: 25px;
            line-height: 22.5px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }
    
    }
}

@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1536px) {

}
