.titles_to_appear {
    width: 100vw;
    display: flex;
    justify-content: center;

    .header1 {
        font-size: 55px;
        line-height: 65px;
        text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
        font-weight: 700;
            .firstBigTitle {
                &.second {
                    margin-left: 25%;
                }
            }
    }

    .header2 {
        font-size: 45px;
        line-height: 55px;
        text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
        font-weight: 700;
    }

    .header3 {
        font-size: 35px;
        line-height: 45px;
        text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
        font-weight: 700;
    }

    .header4 {
        font-size: 30px;
        line-height: 45px;
        text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
        font-weight: 700;
    }

    .header5 {
        font-size: 25px;
        line-height: 35px;
        text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
        font-weight: 700;
    }

    .header6 {
        font-size: 20px;
        line-height: 25px;
        text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
        font-weight: 700;
    }

}

.endSectionMain{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.endSections{
    // backdrop-filter: blur(15px);
    min-height: 50vh;
}

.points_container{
    min-height: 50vh;
}

.backdrop_filter {
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.5);
}

.cards{
    h1{
        font-size: 90px;
    }
    h3{
        font-size: 25px;
    }
}

// 678
@media only screen and (min-width: 578px) {
.titles_to_appear {

        .header1 {
            font-size: 55px;
            line-height: 45px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header2 {
            font-size: 45px;
            line-height: 40px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header3 {
            font-size: 35px;
            line-height: 30px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header4 {
            font-size: 30px;
            line-height: 30px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header5 {
            font-size: 25px;
            line-height: 25px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header6 {
            font-size: 18px;
            line-height: 18px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

    }
}

@media only screen and (min-width: 640px) {
.titles_to_appear {

        .header1 {
            font-size: 60px;
            line-height: 55px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header2 {
            font-size: 55px;
            line-height: 50px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header3 {
            font-size: 50px;
            line-height: 50px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header4 {
            font-size: 45px;
            line-height: 45px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header5 {
            font-size: 32px;
            line-height: 32px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header6 {
            font-size: 22px;
            line-height: 22px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

    }
}

@media only screen and (min-width: 768px) {
.titles_to_appear {

        .header1 {
            font-size: 95px;
            line-height: 110px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header2 {
            font-size: 75px;
            line-height: 85px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header3 {
            font-size: 57.5px;
            line-height: 65px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header4 {
            font-size: 47.5px;
            line-height: 58px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header5 {
            font-size: 33px;
            line-height: 45px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header6 {
            font-size: 23px;
            line-height: 30px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

    }
}

@media only screen and (min-width: 1024px) {
    .titles_to_appear {
    
        .header1 {
            font-size: 85px;
            line-height: 110px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header2 {
            font-size: 75px;
            line-height: 90px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header3 {
            font-size: 60px;
            line-height: 75px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header4 {
            font-size: 50px;
            line-height: 65px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header5 {
            font-size: 35px;
            line-height: 45px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

        .header6 {
            font-size: 25px;
            line-height: 30px;
            text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
            font-weight: 700;
        }

    }
}

@media only screen and (min-width: 1280px) {
    .titles_to_appear {
    
            .header1 {
                font-size: 95px;
                line-height: 110px;
                text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
                font-weight: 700;
            }
    
            .header2 {
                font-size: 65px;
                line-height: 90px;
                text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
                font-weight: 700;
            }
    
            .header3 {
                font-size: 45px;
                line-height: 60px;
                text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
                font-weight: 700;
            }
    
            .header4 {
                font-size: 35px;
                line-height: 45px;
                text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
                font-weight: 700;
            }
    
            .header5 {
                font-size: 28px;
                line-height: 32.5px;
                text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
                font-weight: 700;
            }
    
            .header6 {
                font-size: 20px;
                line-height: 22.5px;
                text-shadow: 4px 1px 8px rgba(0, 0, 0, 0.5);
                font-weight: 700;
            }
    
        }
}

@media only screen and (min-width: 1536px) {}